main{
  padding-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-container-buttons{
  display: none;
}

::-webkit-scrollbar {
  width: 0;
}

.profile-box-purple {
  background-color: var(--color-brand);
  width: 100%;
  height: 14rem;
  position: relative;
  display: flex;
  justify-content: center;
}
#img-profile {
  border: solid 5px var(--color-white);
  border-radius: 50%;
  position: absolute;
  max-width: 85%;
  width: 20rem;
  height: 20rem;
  top: 2.625rem;
}

.section-profile-content {
  height: 254px;
  margin-top: 14rem;
  background-color: var(--color-white);
  box-shadow: 0px 0px 5px rgba(78, 32, 150, 0.25);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1.125rem;
  padding: 1.5rem;
}
.section-profile-content > h2{
  width: 100%;
  text-align: center;
  color: var(--color-brand);
}
.div-personal-info span{
  color: var(--color-brand);
}
.div-buttons-update-info-delete-account{
  display: flex;
  gap: 0.5rem;
}

.section-my-pets {
  margin-top: 5rem;
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
  gap: 2.875rem;  
}
.section-my-pets > button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 8rem;
}

.box-my-pets {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
}
.card-my-pet {  
  width: 100%;
  height: 200px;
  background: var(--color-white);  
  box-shadow: 0px 0px 5px rgba(78, 32, 150, 0.25);
  border-radius: 4px;
  display: flex;
  align-items: center;
}
.card-my-pet img {
  width: 40%;
  height: 100%;
  object-fit: cover;
  border: 4px 0 0 4px;
}
.card-my-pet button{
  width: min-content;
}
.div-card-info {
  padding-left: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
}
.div-card-info span{
  color: var(--color-brand);
}

.myForm {
  padding: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.myForm>h2 {
  font-size: 24px;
  font-weight: 700;
  color: var(--color-brand);
  margin-bottom: 10px;
}

.myForm>input {
  width: 100%;
  height: 35px;
  border: 1px solid var(--color-brand);
  color: var(--color-brand);
  border-radius: var(--radius);
  padding-left: 10px;
}

.myForm>input::placeholder {
  font-weight: 400;
  font-size: 10px;
  color: var(--color-brand);
}

.myForm>button {
  width: 100%;
  height: 27px;
  border: 1px solid var(--color-brand);
  border-radius: var(--radius);
  color: var(--color-white);
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  background-color: var(--color-brand);
  cursor: pointer;

@media (min-width: 700px) {
  .header{
    max-width: 1440px;
    margin: 0 auto;
  }

  .dropdown{
    display: none;
  }

  .nav-container-buttons{
    display: flex;
    gap: 1rem;
  }

  main{
    max-width: 1440px;
  }

  .section-profile-content{
    max-width: 480px;
  }

  .section-my-pets{
    max-width: 1024px;
    margin: 0 auto;
    margin-top: 5rem;
    margin-bottom: 3rem;
  }

  .box-my-pets{    
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .card-my-pet{
    max-width: 480px;
  }
}