.dropdown{
    width: 1.5rem;
    height: 1.5rem;
    background-image: url(/src/assets/img/dropdown.png);
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.dropdown-close{
    background-image: url(/src/assets/img/closeDropdown.png);
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
}
.container-buttons{    
    position: fixed;
    z-index: 2;
    width: 90%;
    padding: 0.5rem 0;
    background-color: var(--color-white);
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}
.container-buttons button{
    width: 100%;
}
.hideMe{
    display: none;
}

