
.myForm {
    padding: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
}
.myForm > h2 {
    font-size: 24px;
    font-weight: 700;
    color: var(--color-brand);
    margin-bottom: 10px;
}
.myForm > input {
    width: 100%;
    height: 35px;
    border: 1px solid var(--color-brand);
    color: var(--color-brand);
    border-radius: var(--radius);
    padding-left: 10px;
}
.myForm > input::placeholder {
    font-weight: 400;
    font-size: 10px;
    color: var(--color-brand);
}
.myForm > button {
    width: 100%;
    height: 27px;
    border: 1px solid var(--color-brand);
    border-radius: var(--radius);
    color: var(--color-white);
    font-weight: 600;
font-size: 14px;
line-height: 19px;
background-color: var(--color-brand);
cursor: pointer;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    box-shadow: 1px 0px 1px rgb(180, 180, 180);
}

.containerHeader {
    position: relative;
    width: 90%;
    height: 81px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.containerList {
    width: 70%;
    height: 500px;
    margin: 50px auto;
}


.listAllPets {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 60px;
    overflow: auto;
}

::-webkit-scrollbar {
    width: 0;
}

.listAllPets li {
    width: 100%;
    height: 272px;
    list-style: none;
    box-shadow: 2px 1px 10px rgb(180, 180, 180);
    border-radius: 8px;
}

.containerImgPet {
    width: 100%;
    height: 60%;
    padding: 0, 5px;
}

.containerImgPet img {
    width: 100%;
    height: 100%;
    border-radius: 8px 8px 0 0;
    object-fit: cover;
}

.dataPet {
    padding: 10px;
}

.dataPet h2 {
    max-width: 15ch;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 24px;
    color: rgb(78 32 150);
}

.dataPet p {
    padding: 0 3px;
    font-size: 8px;
    color: rgb(161, 161, 161);
}

footer {
    text-align: center;
    font-size: 12px;
    color: rgb(78 32 150);
    background-color: rgb(233, 232, 232);
    height: 40px;
}

footer p {
    padding: 10px 0;
}

@media (min-width: 700px) {
    .containerButtons {
        display: block;
    }

    .hideMe {
        padding: 5px 20px;
        border-radius: 16px;
        border: 1px solid rgb(78 32 150);
        font-weight: bold;
        font-size: 16px;
    }

    .buttonRegister {
        background-color: #ffff;
        color: rgb(78 32 150);
    }

    .buttonLogin {
        margin-left: 10px;
        background-color: rgb(78 32 150);
        color: #ffff;
    }

    .containerList {
        width: 65%;
    }

    .listAllPets li {
        width: 200px;
    }

}