main{
    padding-top: 80px;
}

.petInfo{
    gap: 8px;
    padding: 12px;
}

.petInfo button{
width: 50%;
margin: 0 auto;
}

.modalConfirm{
    background-color: white;
    height: 70px;
    width: 90%;    
    margin: 16px 0px;
    gap: 16px;
}

.modalConfirm h2{
    background-color: #fff;
    text-align: center;
   
}

.modalConfirm button{
    width: 150px;
    margin: 0 auto;
}

#menuDrop{
z-index: 1;
}