main{
    padding-top: 80px;
}

.dataPet{
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 12px;
}

.dataPet button{
    margin-top: 16px;
width: 100%;
margin: 0 auto;
cursor: pointer;
}

.modalConfirm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    height: 100px;
    width: 90%;    
    margin: 32px;
    gap: 16px;
}

.modalConfirm h2{
    background-color: #fff;
    text-align: center;
   
}

.modalConfirm button{

    width: 150px;
    height: 32px;
    margin: 0px auto;
    cursor: pointer;
}

#menuDrop{
z-index: 1;
}