*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
}

.container{
width: 100vw;
padding: 1rem;
margin: 0 auto;

}

.logo {
    width: 150px;
}

.hideMe {
    display: none;
}

ul {
    list-style: none;
    gap: 16px;
}

.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.justifyCenter{
 justify-content: center;
}

.wrap{
    flex-wrap: wrap;
}

.imgPet{
width: 100%;
}

.dropdown{
    width: 32px;
    height: 32px;
    background-color: gray;
    margin-left: auto;
}

.petAdoption {
    max-width: 90%;
    border: 1px solid #cccccc;
    border-radius: 8px;
    overflow: hidden;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.5); 
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.5);
}

.imgFrame{
    overflow: hidden;
    width: 286px;
    height: 200px;
    align-items: center;
    justify-content: center;

}

.petInfo{
    gap: 8px;
    padding: 12px;
}

.petInfo button{
width: 50%;
margin: 0 auto;
}

footer{
    margin-top: 1rem;
    background-color: rgba(137, 43, 226, 0.315);
}

footer span{
    margin: 0 auto;  
}